body {
  background-color: #f3f5f5;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #ced4d5;
}
#GK {
  padding-top: 5rem;
  background-color: #ced4d5;
}
section {
  padding-top: 5rem;
}

.SDM-pelatihan {
  width: 100%;
}

#SDM .row > * {
  padding: 0;
}
